<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<form action="http://127.0.0.1:5000/test">
	
	ID : <input type="text" name="id">
	<hr>
	<h3> 질문지에서 선택 </h3>
	친구랑 만나기로 했는데 갑자기 약속이 취소되었을 때? <br>
	<input type="radio" name="choice" value="I"> 오예 신난다~  <br>
	<input type="radio" name="choice" value="E"> 이럴수가ㅠ 다른 사람 없나? <br>
	<input type="submit" value="전송">
	
</form>

</body>
</html>